:host {
    width: 24%;
    margin: 10px .5%;
}
md-card {
    padding: 0px !important;
    display: flex !important;
    height: 100%;
}
.card__body {
    padding: 10px;
    & p {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 1200px) {

    :host {
        width:32.33%;
        margin: 10px .5%;
    }
}
@media screen and (max-width: 992px) {

    :host {
        width:48%;
        margin: 10px 1%;
    }
}
@media screen and (max-width: 772px) {

    :host {
        width:95%;
        margin: 10px 2.5%;
    }
}